.container {
  text-align: center;
  border: 2px solid blueviolet;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.second_title {
  margin: 0 0 20px 0;
  color: blue;
  font-size: 26px;
}
