.label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.input {
  width: 380px;
  outline: none;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 4px;
}
.input:hover,
.input:focus {
  border: 2px solid blue;
}
.bar_strangth {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.container_strength {
  width: 130px;
  height: 10px;
}
