<div class="container">
  <h2 class="second_title">{{ title }}</h2>
  <form>
    <label class="label" [ngStyle]="{ color: color1 }">{{ message }}</label>
    <input
      class="input"
      type="password"
      name="password"
      placeholder="Enter password"
      [ngStyle]="{ color: color1 }"
      [(ngModel)]="value"
      (ngModelChange)="changeInputHandler()"
    />
    <div class="bar_strangth">
      <div class="container_strength" [ngStyle]="{ background: color1 }"></div>
      <div class="container_strength" [ngStyle]="{ background: color2 }"></div>
      <div class="container_strength" [ngStyle]="{ background: color3 }"></div>
    </div>
    <button
      class="button"
      type="submit"
      [ngStyle]="{ background: color1 }"
      (click)="submitHandle()"
    >
      Test password
    </button>
  </form>
</div>
