.container {
  text-align: center;
  border: 2px solid blueviolet;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.second_title {
  margin: 0 0 20px 0;
  color: blue;
  font-size: 26px;
}
.label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.input {
  width: 380px;
  outline: none;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 4px;
}
.input:hover,
.input:focus {
  border: 2px solid blue;
}
.bar_strangth {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.container_strength {
  width: 130px;
  height: 10px;
}
.button {
  border: none;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  border: 2px solid grey;
}
.button:hover {
  border: 2px solid blue;
  color: blue;
}
